
.registerForm input {
  border: 1px solid rgba(4, 159, 225, 0.649);
  transition: 0.2s ease;
  padding: 10px 15px;
<<<<<<< HEAD
>>>>>>> origin/main
=======
>>>>>>> 836f700df8742296fe1e46e44408cfe21dee5011
}
