.button {
  display: flex;
  justify-content: center;
  color: #fff;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background: linear-gradient(
    228deg,
    rgba(178, 104, 232, 1) 0%,
    rgba(0, 193, 241, 1) 100%
  );
  transition: all 0.3s ease-in-out 0s;
  box-shadow: rgba(105, 215, 255, 0.698) 0px 0px 0px 0px;
  animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running
    pulse;
  align-items: center;
  border: 0;
  cursor: pointer;
}
.button:is(:hover, :focus) {
  transform: scale(1.1);
}
@keyframes pulse {
  100% {
    box-shadow: 0 0 10px 25px rgba(193, 244, 246, 0);
  }
}
