.sub-title {
  font-family: Dancing Script, cursive;
  font-weight: 500;
  font-size: 28px;
}

.main-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
}
.color-title {
  color: #113d48;
}

.desc {
  font-size: 19px;
  font-weight: 600;
  line-height: 30px;
}
.color-desc {
  color: #00151ab7;
}
