.btn {
  display: inline-block;
  padding: 10px 25px;
  background-color: #00d6e1c3;
  border-radius: 15px;
  box-shadow: 0 0 8px 5px rgba(106, 106, 106, 0.2);
  transition: 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  background-color: #00d3de;
}
.next {
  transform: translateX(60%);
}
.prev {
  transform: translateX(-60%);
}
.keenSliderSlid {
  overflow: visible !important;
}
