.header {
  background-color: transparent;
  box-shadow: 0 2px 10px 3px rgba(226, 226, 226, 0);
  color: #fff;
  font-weight: 500;
  padding: 20px 0;
  transition: 0.4s ease;
  position: fixed;
}
.header a {
  margin: 0 10px;
  padding: 0 10px;
  display: inline-block;
  font-weight: 700;
}
.header button svg {
  width: 25px;
  height: 25px;
  color: var(--color-text-header);
  transition: 0.2s ease-in-out;
}
.header .logo {
  width: 150px;
  height: auto;
  transition: 0.4s ease;
}
.header.sticky .logo {
  width: 120px;
  height: auto;
}
.header button svg {
  color: #fff;
}
.header.sticky {
  background-color: #fff;
  padding: 10px 0;
  color: black;
  position: fixed;
  box-shadow: 0 0 10px 3px rgb(209 209 209);
}
.header.sticky button svg {
  color: black;
}
.headerPage {
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 10px 3px rgb(209 209 209);
  --color-text: #4b4b4b;
  color: var(--color-text);
}
.headerPage button svg {
  color: var(--color-text);
}

.menuItem {
}
