.button {
  display: block;
  position: relative;
  width: 55px;
  height: 55px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}
.button:before,
.button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
}
.button:before {
  border: 4px solid #00a6e8;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  width: 100%;
  height: 100%;
}
.button:after {
  border: 4px solid #96daf0;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.button:hover:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.button:hover:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}
.buttonBox {
  display: flex;
  flex-direction: column;
  gap: 17px;
  position: absolute;
  top: 0;
  left: 0;
}
.buttonElem {
  display: flex;
  align-items: center;
  width: 55px;
  height: 55px;
  justify-content: center;
}
.buttonElem svg {
  color: #00a6e8;
  width: 25px;
  height: auto;
}
.button:hover .buttonBox {
  transition: 0.4s;
  transform: translateY(-72px);
}
